.tours {

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  .tags {
    width: 77%;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    padding: 4.5rem 0;
  }
}