.heading {
  font-size: 2rem;
  font-family: var(--font-secondary);

  &--xlg {
    font-size: 10rem;
    text-transform: uppercase;
  }

  &--1 {
    font-size: 4.75rem;
  }
}

.text {
  font-size: 1.4rem;
  color: var(--color-font-primary);
  font-family: var(--font-tertiary);
  
  &--high {
    line-height: 2.4rem;
  }

  &--sub {
    color: var(--color-font-pale);
  }

  &--light {
    font-weight: 300;
  }

  &--xl {
    font-size: 1.9rem;
    line-height: 3rem;
  }

  &--sm {
    font-size: 1.3rem;
  }

  &--upc {
    text-transform: uppercase;
  }

  &--dark {
    color: var(--color-font-dark);
  }
}