:root {
  --font-primary: MonumentExtended-Regular, sans-serif;
  --font-secondary: MonumentExtended-Ultrabold, sans-serif;

  --header-height: 11rem;

  --color-font-primary: #fff;
  --color-font-dark: #303030;
  --color-font-pale: #dbdbdb;

  --home-place-item-transition-duration: .2s;
  --home-place-item-transition-easing: cubic-bezier(.68,0,.99,.12);
}