@use '../../sass/mixins' as *;

.banner {
  width: 100%;
  min-height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding-top: 10rem;

    @include respond('mid') {
      padding-top: 5rem;
      row-gap: 2rem;
    }
  }

  p {
    max-width: 60rem;
  }
}