.photos {
  
  .image {
     
  }

  .head {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }

  .separator {
    flex-grow: 1;
    height: 1px;
    background: rgba(0,0,0,.25);
  }

  .btnGroup {
    display: flex;
    column-gap: 1rem;
  }
}